useDynLib(widals, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("stats", rnorm, runif)
importFrom("snowfall", sfClusterApplyLB)
importFrom("snowfall", sfExport)
importFrom("snowfall", sfLibrary)
importFrom("methods", "is")

